In [1]:
import os
import pandas as pd
from datetime import date

In [2]:
import pickle
with open('imageToBuilding.pkl', 'rb') as f:
    imageToBuilding = pickle.load(f)
buildingNames = set(imageToBuilding.values())

In [3]:
today = date.today()
today_str = str(today) + '.csv'
buildings = pd.read_csv(os.path.join("data", "buildingData", today_str))
leaderboard = pd.read_csv(os.path.join("data", "leaderboard", today_str), index_col=0)

In [4]:
buildings_by_company = buildings.groupby(['Company Name','Building']).count().drop(['Road Bonus'], axis=1).unstack(level=1).fillna(0).astype(int)
buildings_by_company.columns = buildings_by_company.columns.droplevel(level=0)

In [5]:
buildings_by_company_with_leaderboard = buildings_by_company.join(leaderboard.set_index(['Company Name']))
buildings_by_company_with_leaderboard = buildings_by_company_with_leaderboard.sort_values('CV', ascending=False)

## Top 10

In [6]:
top10 = []
for i in range(10):
    player = dict(buildings_by_company_with_leaderboard.iloc[i])
    player = {x:y for x,y in player.items() if y!=0}
    top10.append(player)

In [7]:
for player in top10:
    print(player, end = '\n\n')

{'Brewery': 7, 'Paper factory': 9, 'Sawmill': 9, 'Player Name': 'Mikey Tee', 'CV': 2146490}

{'Furniture shop': 11, 'Kiosk': 14, 'Player Name': 'Teja', 'CV': 1530138}

{'Bakery': 5, 'Brewery': 9, 'Paper factory': 2, 'Stone chopping house': 9, 'Player Name': 'Yui Kyouko', 'CV': 1470877}

{'Brewery': 2, 'Clothes shop': 1, 'Cotton mill': 9, 'Grocery store': 3, 'Kiosk': 1, 'Paper factory': 3, 'Stone chopping house': 3, 'Toy store': 3, 'Player Name': 'Lanyard Fogarty', 'CV': 1388209}

{'Oil drill': 25, 'Player Name': 'Hannah Tee', 'CV': 1267134}

{'Clothes shop': 7, 'Furniture shop': 5, 'Grocery store': 1, 'Kiosk': 5, 'Toy store': 7, 'Player Name': 'Tran Hai Linh', 'CV': 1242550}

{'Advertising agency': 1, 'Auto Repair Shop': 3, 'Carpentry': 3, 'Furniture shop': 4, 'Paper factory': 6, 'Sawmill': 8, 'Player Name': 'Serdar Yayan', 'CV': 1118843}

{'Forest': 11, 'Kiosk': 4, 'Oil drill': 6, 'Quarry': 2, 'Wheat field': 2, 'Player Name': 'Nim Rod', 'CV': 1075487}

{'Cotton field': 3, 'Oil drill': 15, 'Slaughterhouse': 2, 'Stone chopping house': 2, 'Toy store': 3, 'Player Name': 'Jason Wachovia', 'CV': 1021461}

{'Forest': 6, 'Oil drill': 18, 'Pig farm': 1, 'Player Name': 'Dynax', 'CV': 986421}

In [8]:
def findAlts(name, regex = False):
    accounts = []
    accounts_df = buildings_by_company_with_leaderboard[buildings_by_company_with_leaderboard['Player Name'].str.contains(name, regex=regex)]
    for i in range(len(accounts_df)):
        player = dict(accounts_df.iloc[i])
        player = {x:y for x,y in player.items() if y!=0}
        accounts.append(player)
    return accounts

In [9]:
def display_accounts(accounts):
    for player in accounts:
        print(player, end = '\n\n')

In [10]:
buildings_by_company_with_leaderboard

,Advertising agency,Auto Repair Shop,Bakery,Brewery,Carpentry,Clinic,Clothes shop,Cotton field,Cotton mill,Fishing fleet,...,Sawmill,Slaughterhouse,Stone chopping house,Stone shop,Tailor workshop,Toy factory,Toy store,Wheat field,Player Name,CV
Company Name,,,,,,,,,,,,,,,,,,,,,
Muddy Ducks,0,0,0,5,0,0,0,0,0,0,...,9,0,5,0,0,0,0,0,Mikey Tee,1742693
Nani Industries,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Teja,1373134
Happy Driller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Hannah Tee,1113152
Yuicorp,0,0,5,9,0,0,0,0,0,0,...,0,0,9,0,0,0,0,0,Yui Kyouko,1109392
Lemming Corp,0,0,0,2,0,0,1,0,7,0,...,0,0,3,0,0,0,3,0,Lanyard Fogarty,1103223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYY,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,YY YUE,1955
MCorpp875,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,mitch189 laskey,1900
for with of,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,Bibi Jiuii,1522
Tyson,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,Bilal Zidane,921
Feng,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,Mike &#37329;&#23,308

## Mikey Tee and alts
Alts either fully chained from tier 1 to shops, or all offices. Don't seem to be directly helping main account.

In [11]:
mikey = findAlts('Mikey')
display_accounts(mikey)

{'Brewery': 5, 'Paper factory': 6, 'Sawmill': 9, 'Stone chopping house': 5, 'Player Name': 'Mikey Tee', 'CV': 1742693}

{'Clothes shop': 9, 'Cotton field': 4, 'Cotton mill': 6, 'Tailor workshop': 6, 'Player Name': 'Mikey Tees', 'CV': 616277}

{'Painter shop': 3, 'Quarry': 9, 'Stone chopping house': 2, 'Stone shop': 11, 'Player Name': 'Mikey Teee', 'CV': 432250}

{'Bakery': 3, 'Brewery': 2, 'Flourmill': 6, 'Wheat field': 14, 'Player Name': 'Mikey Teeee', 'CV': 427179}

{'Advertising agency': 10, 'Auto Repair Shop': 11, 'Clinic': 2, 'Painter shop': 2, 'Player Name': 'Mikeys Tee', 'CV': 330845}

## Teja and alts
Is using chained alts to supply goods for 25 shops on main account

In [12]:
teja = findAlts('TinTin')
display_accounts(teja)

{'Carpentry': 3, 'Forest': 3, 'Sawmill': 5, 'Stone chopping house': 14, 'Player Name': 'TinTin Da', 'CV': 195425}

In [13]:
teja = findAlts('Tycoon Multi')
display_accounts(teja)

{'Bakery': 3, 'Flourmill': 5, 'Quarry': 4, 'Stone chopping house': 2, 'Wheat field': 11, 'Player Name': 'Tycoon Multi4', 'CV': 304912}

{'Forest': 8, 'Newspaper printing house': 6, 'Paper factory': 8, 'Player Name': 'Tycoon Multi1', 'CV': 277991}

{'Forest': 9, 'Newspaper printing house': 6, 'Paper factory': 6, 'Player Name': 'Tycoon Multi3', 'CV': 267070}

{'Bakery': 3, 'Flourmill': 6, 'Quarry': 1, 'Stone chopping house': 1, 'Wheat field': 11, 'Player Name': 'Tycoon Multi5', 'CV': 243220}

{'Bakery': 2, 'Brewery': 3, 'Flourmill': 5, 'Wheat field': 10, 'Player Name': 'Tycoon Multi6', 'CV': 207423}

{'Bakery': 1, 'Fishing fleet': 4, 'Flourmill': 1, 'Harbor': 4, 'Wheat field': 2, 'Player Name': 'Tycoon Multi9', 'CV': 112420}

{'Newspaper printing house': 1, 'Paper factory': 1, 'Pig farm': 4, 'Slaughterhouse': 3, 'Player Name': 'Tycoon Multi7', 'CV': 103769}

{'Newspaper printing house': 1, 'Pig farm': 3, 'Slaughterhouse': 4, 'Player Name': 'Tycoon Multi8', 'CV': 62467}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 21', 'CV': 10192}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 14', 'CV': 10166}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 13', 'CV': 10068}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 19', 'CV': 9950}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 15', 'CV': 9941}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 16', 'CV': 9895}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 18', 'CV': 9815}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 24', 'CV': 9780}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 25', 'CV': 9703}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 22', 'CV': 9342}

{'Wheat field': 1, 'Player Name': 'Tycoon Multi 23', 'CV': 6960}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 20', 'CV': 6326}

{'Wheat field': 2, 'Player Name': 'Tycoon Multi 12', 'CV': 6027}

{'Flourmill': 1, 'Wheat field': 2, 'Player Name': 'Tycoon Multi 11', 'CV': 4772}

{'Wheat field': 2, 'Player Name': 'Tycoon Multi 17', 'CV': 3970}

## Botbot
Created by Jay Chen.

In [14]:
botbot = findAlts('Bot Bot')
display_accounts(botbot)
len(botbot)

{'Plastic industry': 5, 'Quarry': 20, 'Player Name': 'Bot Bot5', 'CV': 706216}

{'Cotton mill': 17, 'Pig farm': 8, 'Player Name': 'Bot Bot11', 'CV': 489153}

{'Fishing fleet': 12, 'Oil drill': 10, 'Toy factory': 3, 'Player Name': 'Bot Bot3', 'CV': 438611}

{'Oil drill': 16, 'Slaughterhouse': 9, 'Player Name': 'Bot Bot7', 'CV': 437853}

{'Plastic industry': 8, 'Quarry': 6, 'Refinery': 11, 'Player Name': 'Bot Bot2', 'CV': 417271}

{'Fishing fleet': 16, 'Forest': 9, 'Player Name': 'Bot Bot15', 'CV': 403399}

{'Fishing fleet': 9, 'Forest': 7, 'Oil drill': 9, 'Player Name': 'Bot Bot4', 'CV': 387131}

{'Pig farm': 9, 'Plastic industry': 4, 'Quarry': 6, 'Refinery': 6, 'Player Name': 'Bot Bot9', 'CV': 378965}

{'Fishing fleet': 16, 'Forest': 9, 'Player Name': 'Bot Bot18', 'CV': 372856}

{'Harbor': 10, 'Oil drill': 15, 'Player Name': 'Bot Bot1', 'CV': 363538}

{'Pig farm': 17, 'Quarry': 8, 'Player Name': 'Bot Bot10', 'CV': 345520}

{'Cotton field': 11, 'Forest': 7, 'Quarry': 6, 'Player Name': 'Bot Bot12', 'CV': 336343}

{'Fishing fleet': 14, 'Forest': 11, 'Player Name': 'Bot Bot16', 'CV': 326023}

{'Cotton field': 7, 'Quarry': 13, 'Tailor workshop': 5, 'Player Name': 'Bot Bot14', 'CV': 322493}

{'Forest': 9, 'Painter shop': 1, 'Pig farm': 10, 'Quarry': 5, 'Player Name': 'Bot Bot8', 'CV': 294221}

{'Forest': 9, 'Painter shop': 1, 'Quarry': 13, 'Player Name': 'Bot Bot6', 'CV': 290929}

{'Auto Repair Shop': 1, 'Forest': 8, 'Quarry': 12, 'Player Name': 'Bot Bot17', 'CV': 290601}

{'Forest': 12, 'Pig farm': 5, 'Quarry': 4, 'Player Name': 'Bot Bot13', 'CV': 283880}

{'Forest': 8, 'Pig farm': 6, 'Quarry': 5, 'Player Name': 'Bot Bot19', 'CV': 219750}

19

## Wooden blade

In [15]:
woodenBlade = findAlts('Serdar')
display_accounts(woodenBlade)

{'Advertising agency': 1, 'Auto Repair Shop': 3, 'Carpentry': 3, 'Furniture shop': 4, 'Paper factory': 6, 'Sawmill': 8, 'Player Name': 'Serdar Yayan', 'CV': 943529}

{'Forest': 16, 'Player Name': 'Serdar1 Yayan1', 'CV': 255891}

{'Forest': 15, 'Player Name': 'Serdar3 Yayan3', 'CV': 249514}

{'Forest': 15, 'Player Name': 'Serdar7 Yayan7', 'CV': 239619}

{'Forest': 15, 'Player Name': 'Serdar6 Yayan6', 'CV': 237420}

{'Forest': 16, 'Player Name': 'Serdar2 Yayan2', 'CV': 228551}

{'Forest': 14, 'Player Name': 'Serdar4 Yayan4', 'CV': 218227}

{'Forest': 6, 'Player Name': 'Serdar10 Yayan10', 'CV': 60450}

{'Forest': 6, 'Player Name': 'Serdar9 Yayan9', 'CV': 55974}

{'Forest': 6, 'Player Name': 'Serdar8 Yayan8', 'CV': 50976}

## Ricardo Milos

In [16]:
milos = findAlts('Ricardo Milos')
display_accounts(milos)

{'Plastic industry': 14, 'Toy factory': 6, 'Toy store': 5, 'Player Name': 'Ricardo Milos VI', 'CV': 703208}

{'Advertising agency': 4, 'Forest': 3, 'Grocery store': 11, 'Stone shop': 4, 'Toy store': 3, 'Player Name': 'Ricardo Milos', 'CV': 640150}

{'Auto Repair Shop': 1, 'Forest': 2, 'Kiosk': 10, 'Newspaper printing house': 7, 'Painter shop': 1, 'Paper factory': 4, 'Player Name': 'Ricardo Milos V', 'CV': 341989}

{'Oil drill': 14, 'Plastic industry': 7, 'Toy factory': 4, 'Player Name': 'Ricardo Milos III', 'CV': 298206}

{'Slaughterhouse': 18, 'Player Name': 'Ricardo Milos II', 'CV': 68856}

{'Gas station': 8, 'Player Name': 'Ricardo Milos VIII', 'CV': 13729}

{'Quarry': 5, 'Player Name': 'Ricardo Milos IV', 'CV': 13614}

{'Wheat field': 4, 'Player Name': 'Ricardo Milos VII', 'CV': 12573}

{'Cotton field': 2, 'Player Name': 'Ricardo Milos IX', 'CV': 5990}

## Yong CS

In [17]:
yongCS = findAlts('Yong CS')
display_accounts(yongCS)

{'Advertising agency': 2, 'Auto Repair Shop': 3, 'Clinic': 2, 'Clothes shop': 2, 'Gas station': 6, 'Tailor workshop': 2, 'Toy factory': 1, 'Toy store': 6, 'Player Name': 'Yong CS-1', 'CV': 360083}

{'Advertising agency': 3, 'Auto Repair Shop': 1, 'Plastic industry': 3, 'Refinery': 1, 'Toy factory': 7, 'Toy store': 2, 'Player Name': 'Yong CS', 'CV': 249228}

{'Auto Repair Shop': 2, 'Clinic': 1, 'Oil drill': 1, 'Refinery': 2, 'Toy factory': 7, 'Toy store': 3, 'Player Name': 'Yong CS-2', 'CV': 209329}

In [18]:
display_accounts(findAlts('Stela Yonamine'))

{'Clothes shop': 11, 'Cotton mill': 5, 'Tailor workshop': 9, 'Player Name': 'Stela Yonamine', 'CV': 716487}

In [19]:
leaderboard['Company Name']

Rank
1          Muddy Ducks
2      Nani Industries
3        Happy Driller
4              Yuicorp
5         Lemming Corp
            ...
550          MCorpp875
551         MILFORTUNE
552        for with of
553              Tyson
554               Feng
Name: Company Name, Length: 554, dtype: object